SECRET_KEY=your_secret_key
DEBUG=False
ALLOWED_HOSTS=*

DB_NAME=kittygram
POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_HOST=kittygram-postgres-1
DB_PORT=5432

DOCKERHUB_USERNAME=gelderdasgeld
